.propertyList {
  cursor: pointer;
}

.item {
  overflow: hidden;
  aspect-ratio: 1 / 1;
  border-radius: 15px;

  position: relative;
}

.image {
  object-fit: cover;
}

.image:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.mt_2 {
  margin-top: 0.25rem;
}

.text {
  font-size: 0.8rem;
  font-weight: 500;
}

.text_sm {
  font-size: 0.6rem;
  color: gray;
}